# Ingerindo o dataset

In [1]:
import pandas as pd
from time import time

In [2]:
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows =100)

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

Aqui vamos extrair o schema desse dataframe. O shcema Ã© uma estrutura da tabela que define o nome das colunas e os tipos de dados armazenados nela.O pandas tem uma funÃ§ao (parecida com o InferSchema() sÃ³ que no caso gera o SQL DDL (Data Definition Language) um comando sql necessÃ¡rio para criar a tabela

In [5]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

Nesse primeiro cenario vimos que o schema identificou  as colunas `tpep_pickup_datetime` e `tpep_dropoff_datetime` como texto sendo que sao TIMESTAMP. Vamos usar o seguinte comando para alterar isso

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Agora o dataframe estÃ¡ correto

In [7]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

# Criando conexao do notebook(maquina host) com o postgres(container)
Para realizar a ingestao vamos utilizar a biblioteca `sqlalchemy`. Caso nao tenha instale no seu terminal usando o comando `pip install sqlalchemy` ou no prÃ³prio notebook caso use o CONDA.

In [8]:
from sqlalchemy import create_engine

In [9]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(engine.connect())

<sqlalchemy.engine.base.Connection object at 0x0000029D65EAE790>

Exemplo de uma query

In [70]:
querry = """ 
  SELECT 1 AS NUMBER;
"""

pd.read_sql(querry, con=engine)

   number
0       1

Agora vamos usar o egine(conexao com o PostgreSQL) para pegar o output especifico para o PostgreSQL

In [12]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Dependendo da memÃ³ria do seu computador tentar inserir todo o arquivo na tabela sem computaÃ§ao paralelizada(spark) pode vir estourar, alÃ©m do que a biblioteca pandas nÃ£o Ã© a forma mais adequada para processamendo de dados em big dada. Aqui para superar esse problema usaremos o iterator, que Ã© um comando em pandas que itera para uma dada quantidade de arquivos

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize = 100000)

In [14]:
df_iter

In [15]:
df = next(df_iter)

In [16]:
len(df)

100000

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

* Aqui estamos inserindo os dados das colunas na tabela

In [19]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

0

* aqui fazemos uma query pra ver as tabelas que estao no database, caso esteja com problema de conexao via CLI

In [20]:
querry = """ 
  SELECT *
  FROM pg_catalog.pg_tables
  WHERE schemaname != 'pg_catalog' AND
        schemaname != 'information_schema';
"""

pd.read_sql(querry, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [25]:
query = '''
    SELECT column_name, data_type
    FROM information_schema.columns
    WHERE table_name = 'yellow_taxi_data';
'''

pd.read_sql(query, con=engine)

              column_name                    data_type
0    congestion_surcharge             double precision
1                VendorID                       bigint
2    tpep_pickup_datetime  timestamp without time zone
3   tpep_dropoff_datetime  timestamp without time zone
4         passenger_count                       bigint
5           trip_distance             double precision
6              RatecodeID                       bigint
7                   index                       bigint
8            PULocationID                       bigint
9            DOLocationID                       bigint
10           payment_type                       bigint
11            fare_amount             double precision
12                  extra             double precision
13                mta_tax             double precision
14             tip_amount             double precision
15           tolls_amount             double precision
16  improvement_surcharge             double precision
17           total_amount             double precision
18     store_and_fwd_flag                         text

Agora iremos popular a tabela para cada iteraÃ§ao e colocando um time para termos ideia do tempo que leva para popular

In [26]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')

Wall time: 8.15 s

1000

In [27]:
query = '''
    SELECT COUNT(*)
    FROM yellow_taxi_data;
'''

pd.read_sql(query, con=engine)

    count
0  100000

Inserimos neste primeiro momento somente as 100000 linhas do df agora iremos interar atÃ© finalizar

In [29]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')
    
    t_end = time()
    
    print("Inserido outro chunck..., e levou %.3f seconds"%(t_end-t_start))

Inserido outro chunck..., e levou 7.831 seconds
Inserido outro chunck..., e levou 8.307 seconds
Inserido outro chunck..., e levou 8.057 seconds
Inserido outro chunck..., e levou 8.305 seconds
Inserido outro chunck..., e levou 8.073 seconds
Inserido outro chunck..., e levou 7.520 seconds
Inserido outro chunck..., e levou 7.292 seconds
Inserido outro chunck..., e levou 7.440 seconds
Inserido outro chunck..., e levou 7.102 seconds
Inserido outro chunck..., e levou 7.688 seconds
Inserido outro chunck..., e levou 8.400 seconds

C:\Users\Vitor Belan\AppData\Local\Temp\ipykernel_24516\2199982887.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserido outro chunck..., e levou 8.679 seconds
Inserido outro chunck..., e levou 5.801 seconds

StopIteration:

In [30]:
query = '''
    SELECT COUNT(*)
    FROM yellow_taxi_data;
'''

pd.read_sql(query, con=engine)

     count
0  1369765

In [31]:
query = '''
    SELECT *
    FROM yellow_taxi_data;
'''

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,None,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,None,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,None,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,None,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,None,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [63]:
query = '''
    SELECT max(tpep_pickup_datetime) , min(tpep_pickup_datetime), max(total_amount)
    FROM yellow_taxi_data;
'''

pd.read_sql(query, con=engine)

                  max                 min      max
0 2021-02-22 16:52:16 2008-12-31 23:05:14  7661.28